*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    background: linear-gradient(0deg, #1f1111 0%, #fe0000 100%);
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* margin: 0;
    padding: 0; */
}

.logo {
    display: flex;
    margin: 0 auto 10px;
    /* padding-top: 0px;
    padding-bottom: 10px; */
    height: 120px;
    width: 400px;
}

#game_board {
    width: 250px;
    height: 490px;
    border: 5px solid #fd0000;
    margin: 0 auto;
    position: relative;
    background: repeating-linear-gradient(rgba(22,28,67,0.8), rgba(22,28,67,0.8) 20px, rgba(23,27,63,0.8) 20px, rgba(23,27,63,0.8) 40px),
        repeating-linear-gradient(90deg, rgba(22,28,67,0.8), rgba(22,28,67,0.8) 20px, rgba(23,27,63,0.8) 20px, rgba(23,27,63,0.8) 40px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

.block {

    width: 24px;
    height: 24px;
    border: 1px solid black;
    position: absolute;
    box-shadow: inset 3px 3px 0 rgba(255,255,255,0.5);
}


.ghost {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    position: absolute;
    box-shadow: inset 3px 3px 0 rgba(255,255,255,0.3);
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    /* justify-content: space-between; */
}

.button {
    /* all: unset; */
    display: flex;
    position: relative;
    background-color: #4640f4;
    border-radius: 100%;
    cursor: pointer;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    padding: unset;
}

.btn-icon{
    height: 45px;
    width: 45px;
}

